<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logs" href="/tabs/logs">
      <ion-icon name="add-circle-outline"></ion-icon>
      <ion-label>Registrar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats" href="/tabs/stats">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Estadísticas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trophies" href="/tabs/trophies">
      <ion-icon name="trophy-outline"></ion-icon>
      <ion-label>Trofeos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
