<ion-content
  [fullscreen]="true"
  class="ion-padding"
  style="--background: #f4f7f4"
>
  <div class="ion-text-center">
    <img src="assets/icon/leaf-icon.png" alt="Logo" />
    <ion-title style="margin: 0.5em 0">
      <h1 style="font-size: 2em; color: #0a3909; font-weight: bold">
        EcoTrack
      </h1>
    </ion-title>
    <p style="font-size: 1em; color: #555; padding: 0 2em">
      ¡Empieza tu viaje sostenible hoy! Registra tu impacto, gana trofeos y
      reduce tu huella de carbono.
    </p>
  </div>

  <ion-card class="ion-margin-top" style="--background: #fff">
    <ion-card-content>
      <ion-input
        label="Nombre"
        labelPlacement="stacked"
        fill="outline"
        placeholder="Tu nombre"
        color="success"
        style="margin-bottom: 1em"
        [(ngModel)]="name"
      ></ion-input>
      <ion-input
        label="Email (opcional)"
        labelPlacement="stacked"
        fill="outline"
        placeholder="hola@ecotrack.com"
        color="success"
        [(ngModel)]="email"
      ></ion-input>

      <ion-card style="--background: #e1e3e1; margin-top: 1em">
        <ion-card-content>
          <ion-icon name="shield-outline"></ion-icon>
          <ion-label style="font-size: 0.8em; color: #272727; margin-left: 0.5em">
            Privacidad primero: tus datos se guardan localmente en este
            dispositivo. Nunca compartimos tu información.
          </ion-label>
        </ion-card-content>
      </ion-card>

      <ion-button
        expand="block"
        class="ion-margin-top"
        color="success"
        mode="ios"
        style="font-size: 1em"
        (click)="startJourney()"
      >
        Comenzar viaje
        <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="ion-margin-top">
    <ion-img
      src="assets/images/plants-image.jpg"
      alt="Ilustración de bosque"
      style="width: 100%; height: auto; border-radius: 8px"
    ></ion-img>
  </ion-card>

  <p style="font-size: 0.9em; color: #999; text-align: center; margin-top: 2em">
    &copy; 2026 EcoTrack. Todos los derechos reservados.
  </p>
</ion-content>
